/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/snowman-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    background: #8E1632;
    color:white;
    margin:0;
    padding:10px 20px;
    text-transform: uppercase;
    font-size:24px;
    font-weight:normal;
    position:relative;
}

h1 i{
    position:absolute;
    top:25%;
    left:90%;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

li{
    background:#EAEBEF;
    height:40px;
    line-height: 40px;
    
}

li:nth-child(2n){
    background:#CAD1DB;
}

input{
    width:100%;
    font-size:18px;
    background-color:#CAD1DB;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    color:#8E1632;
}

input:focus{
    background:white;
    border:3px solid #8E1632;
    outline:none;
}

span{
    background-color:#3F576A;
    height:40px;
    margin-right:20px;
    text-align:center;
    color:#EAEBEF;
    width:0px;
    display:inline-block;
    transition:0.2s linear;
    opacity:0;
}

li:hover span{
    width:40px;
    opacity:1.0;
}

#master-container{
    background:#f7f7f7;
    width:360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}


.complete{
    color:#8E1632;
    text-decoration: line-through;
}

.fa-plus:hover{
    opacity: .5;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}